*{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, a{
    font-family: 'Montserrat', sans-serif;
}

a{
    color: #389CD3;
    text-decoration: underline;
}

nav{
    background-color: #11151A;
    height: 65px;
}

nav img{
   width: 100%;
   max-width: 65px; 
}

.nav-item{
    font-size: 16px;
    line-height: 22px;
}

.nav-link:hover{
    color: #ffffff;
    font-weight: 600;
}

.container{
    width: 100%;
    max-width: 1280px;
    margin: 75px auto;
}

h1{
    font-size: 150px;
    color: #11151A;
    line-height: 100px;
    text-align: left;
    margin-bottom: 60px;
}

.hero > h1{
    color: #FFFFFF;
    text-align: center;
}

.hero-img{
    width: 100%;
}

h2{
    font-size: 150px;
    color: #11151A;
    line-height: 120px;
    text-align: left;
    max-width: 800px;
    margin-bottom: 60px;
}

.container > p{
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #11151A;
    text-align: left;
    max-width: 530px;
    margin-top: 30px;
}

footer{
    background: rgb(3,36,85);
    background: linear-gradient(180deg, rgba(3,36,85,1) 0%, rgba(4,14,26,1) 100%);
    width: 100%;
    height: 620px;
}

.footer-item{
    font-size: 18px;
    line-height: 25px;
    color: #389CD3;
    font-family: 'Montserrat', sans-serif;
}

#footer-cta{
    color: #389CD3;
    font-size: 150px;
    line-height: 120px;
    margin-top: 30px;
    width: 70%;
}

footer > aside > h6, p{
    color:#225A7A;
    text-align: right;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
}

footer > aside > h6{
    font-weight: 700;
}
