header nav{
    background-color: #11151A;

    .navbar{
    height: 65px;
    }

    .nav-width{
        padding: 0 5%;
    }

    img{
        width: 100%;
        max-width: 65px;
    }

    .nav-item{
        font-size: 16px;
        line-height: 22px;
    }

    .nav-link:hover{
        color: #ffffff;
        font-weight: 600;
    }

    .navbar-bg-black{
        background-color: #11151A;
    }

    .navbar-toggler:focus{
        box-shadow: none;   
    }
}
