/* Colores */
$black: #11151A;
$light-blue: #389CD3;
$dark-green: #225A7A;
$white: #FFFFFF;
$blue: rgb(3,36,85);
$gradient-blue: linear-gradient(180deg, rgba(3,36,85,1) 0%, rgba(4,14,26,1) 100%);
$gray: #C5C5C5;
$light-gray: #9A9A9A;